.dart_tool/
.idea/
.packages
.pub-cache/
.pub/
build/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
lib/generated_plugin_registrant.dart
pubspec.lock
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.pyc
*.swp
*~
.DS_Store
connect.lock
manifest.lock
test_results.txt
widget_test_results.txt
